h2{
  margin-left: 650px;
  margin-top: -40px;
}
.card position-relative{
  height: 400px;
  width: 300px;
}
h5{
  background-color:deepskyblue;
}
footer{
  background-color:#f5f3ea;
  margin-top: 50px;
}
.blue{
  color:deepskyblue;
}